################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjektC++/FileContentIndex/1791ebe3-cc21-4b96-98ea-db7a8939234d.vsidx
